.grid-container {
    display: grid;
    height: 250px;
    /* align-content: center; */
    grid-template-columns: 150px 150px 150px;
    grid-gap: 1px;
    padding: 5px;
    margin: 200px;
  }
  
  .grid-container >div {
    background-color:grey;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    height: 50px;
    width: 100px;
  }

  .link{
    text-decoration: none;
    color: black;
  }
  